/JEE-JPA/JEE-JPA/target/
/JEE-jaxrsDataModel/target/
/JEE-jaxrs-cross-cutting-client/target/
/JEE-jaxrs-client-cross-cutting/target/
/JEE-jaxrs-client/target/
/data-model/target/
/JEE-jaxrs-server/target/
/JEE-jms-queue/target/
/JEE-jms-topic/target/
/JEE-jpa/target/
/JEE-jaxrs-server-cross-cutting/target/
/restPerformance/target/
/JEE-jaxrs-client-standalone/target/
/mavenproject1/target/
/Glassfish-Second-Level-Cache-Coordination-RMI/target/
/JEE-Timer2/target/
/Glassfish-Oracle-Database-Events-DCN/target/
/JEE-websocket-server/target/
/JEE-websocket-client/target/
/apache-exec-bash/target/
/StringUtilsEscapeBash/target/
/JEE-CDI/target/
/JEE-JPA/target/
/Logging/target/
/compareMockWithRest/target/
/JsonPath/target/
/JEE-JDBC/target/
/HeaderParamToMap/target/
/JEE-JPA-EntityGraph/target/
/videoplayer/target/